/*
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/* custom inclusion of right, left and below tabs */
a.ItemIcon.DefaultPageIcon {
    color: black !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.UINavigationPortlet .UITab a.TabIcon {
    color: black ;
    text-decoration: none ;
}

.UINavigationPortlet .NormalNavigationTab a.TabIcon {
    color: #fff;
}

.TabIcon {
    font-size: 11px !important;
    font-family: sans-serif !important;
}
.FL {
    font-size: 11px !important;
    font-family: sans-serif !important;
}
.Selected {
    font-size: 11px !important;
    font-family: sans-serif !important;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tab-icon {
    max-height: 2em;
    margin-right: 1.5em;
}

.tab-name {
    margin-top: 1em;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1em;
    height: 500px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto
text-align: center;
}

.icon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon-list:after {
    clear: both;
}

.icon-list .icon-list-item {
    float: left;
    position: relative;
    margin: 0 0 4px 0;
    width: 72px;
    height: 72px;
    text-align: center;
    padding: 8px;
}

.icon-list .icon-list-item .status {
    position: absolute;
    top: 0px;
    right: 3px;
}

.icon-list .icon-list-item .status-red {
    color: red;
}

.icon-list .icon-list-item .status-yellow {
    color: #7F6A00;
}

.icon-list .icon-list-item div.img-container {
    padding: 10px;
    max-width: 100px;
    border: 1px solid lightgrey;
}

.icon-list .icon-list-item div.img-container img {
    max-width: 100%;
}

.icon-list .icon-list-item p.name {
    margin-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 7pt;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.audit-nav-container form {
    padding: 0;
}

.panel.no-border {
    border: 0;
}

#audit-next[disabled] {
    color: #999;
}

#infohover {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    background: white;
    border: 1px solid lightgrey;
    width: 300px;
    min-height: 100px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    z-index: 1;
}

#infohover h3 {
    padding-top: 0;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 270px;
    font-size: 1.6em;
    display: block;
    text-decoration: none !important;
}

#infohover .timestamp {
    font-size: 1.2em;
}

#infohover h4 {
    font-size: 1em;
}

#infohover h4 .icon {
    position: relative;
    top: -1px;
    margin-right: .7em;
}

#infohover h4 .icon.icon-alert {
    top: -3px;
}

#infohover hr {
    padding: 0;
    margin: 1em;
    color: grey;
    border-top: 1px solid grey;
}

.alert {
    color: red;
    padding-bottom: 0;
    margin-bottom: 0;
    text-shadow: 0 0 0;
    box-shadow: none;
}

table.filter-table, table.filter-table-2 {
    margin: .5em .25em 1em .25em;
}

table.filter-table td {
    padding: .5em 1em;
}

table.filter-table td label, table.filter-table-2 td label {
    margin-bottom: 3px;
}

table.filter-table td input, table.filter-table-2 td input {
    width: 100%;
    padding: 5px;
    height: 25px;
}

table.filter-table td .btn, table.filter-table-2 td .btn {
    padding: 2px 5px;
    font-size: 1.2em;
}

.audit-nav-container {
    position: relative;
}

.audit-nav-top {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

input#host-identities-search {
    padding: 7px;
    height: 26px;
}

input.error {
    color: red;
    background-color: #FFE9E8;
    border-color: red;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.modal.fade.slide-from-right {
    margin: 0;
}

.modal.fade.slide-from-right:not(.in) .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal.fade.slide-from-right.in .modal-dialog {
    margin: 0px 10% 0px auto;
}
.ngViewport {
    min-height: 50px;
}