<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/helloWorld-portlet.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>view-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>view-servlet</servlet-name>
        <url-pattern>/WEB-INF/servlet/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>MVC Servlet for Jetspeed Portlet Applications</description>
        <display-name>Jetspeed Container</display-name>
        <servlet-name>JetspeedContainer</servlet-name>
        <servlet-class>
            org.apache.jetspeed.container.JetspeedContainerServlet
        </servlet-class>
        <init-param>
            <param-name>contextName</param-name>
            <param-value>sample-helloworld</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JetspeedContainer</servlet-name>
        <url-pattern>/container/*</url-pattern>
    </servlet-mapping>


</web-app>